@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  background-color: hsl(185, 75%, 39%);
  background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-position: top -40vh right 50vw, top 53vh left 55vw;
  background-repeat: no-repeat;
}

.mainbox {
  border-radius: 15px;
  width: 350px;
  height: 375px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  font-size: 18px;
}

.top-box {
  height: 50%;
  position: relative;
}

.background {
  position: fixed;
  height: 125px;
  width: 100%;
  background-image: url(./images/bg-pattern-card.svg);
  border-radius: 15px 15px 0 0;
  z-index: -1;
}

.victor {
  border: 5px solid white;
  border-radius: 50%;
  margin-top: 75px;
}

.middle-box {
  padding-top: 20px;
  height: 25%;
}

h1 p {
  padding-top: 5px;
}

h1 {
  font-size: 18px;
}

.location {
  font-size: 14px;
}

span {
  padding-left: 5px;
}

.description {
  font-size: 10px;
  letter-spacing: 2px;
}

.grey {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

.last-box {
  border-top: 1px solid hsla(0, 0%, 59%, 0.30);
  float: left;
  width: 100%;
  height: 25%;
}

.box {
  float: left;
  width: 33.33%;
  padding-top: 25px;
}