@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --DarkCyan: hsl(185, 75%, 39%);
  --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
  --DarkGrayishBlue: hsl(227, 10%, 46%);
  --DarkGray: hsl(0, 0%, 59%);
}

body {
  background-color: var(--DarkCyan);
  background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-position: top -50vh right 50vw, top 50vh left 50vw;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
}

.mainbox {
  position: absolute;
  width: 350px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: white;

}

.top-box {
  position: relative;
}

.background {
  position: fixed;
  height: 140px;
  width: 100%;
  background-image: url(./images/bg-pattern-card.svg);
  border-radius: 15px 15px 0 0;
  z-index: -1;
}

.victor {
  border: 5px solid white;
  border-radius: 50%;
  margin-top: 25%;
}

.middle-box {
  padding-top: 15px;
}

h1 {
  font-size: 18px;
}

.location {
  font-size: 14px;
  padding: 10px 0 20px;
}

span {
  padding-left: 5px;
}

.description {
  font-size: 10px;
  letter-spacing: 2px;
  padding-top: 5px;
}

.grey {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

.last-box {
  border-top: 1px solid hsla(0, 0%, 59%, 0.30);
  float: left;
  width: 100%;
  padding: 0 20px;
}

.box {
  float: left;
  width: 33.33%;
  padding: 25px 15px;
}