* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --DarkCyan: hsl(185, 75%, 39%);
  --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
  --DarkGrayishBlue: hsl(227, 10%, 46%);
  --DarkGray: hsl(0, 0%, 59%);
}
html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--DarkCyan);
  background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-position: top -50vh right 50vw, top 50vh left 50vw;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
}

/* text clases */
.text-lead {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--VeryDarkDesaturatedBlue);
}

.text-grey {
  color: var(--DarkGrayishBlue);
  font-weight: 400;
}

.text-medium {
  font-size: 1.4rem;
}

.text-small {
  font-size: 1rem;
  letter-spacing: 1.5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.card-component {
  min-width: 35rem;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
}

.card-component__background {
  height: 100%;
  width: 100%;
  background-image: url(./images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.card-component__background__img {
  margin-top: 8.7rem;
  border: 5px solid white;
  border-radius: 50%;
}

.card-component__description {
  margin-top: 1.9rem;
}
span {
  margin-left: 0.9rem;
}
.info-box {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.stats {
  margin-top: 2.4rem;
  padding: 2.4rem 5rem;
  border-top: 1px solid hsla(0, 0%, 59%, 0.3);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
